<!-- btn btn-secondary -->

{% extends 'base.html' %}

{% block content %}

<div style="background-color: #98c6d3e0;"  class="  text-dark">

    <br><br>
    <figure class="text-center">
        <br><br><br><br><br>    
        <h3 class="display-3 w-100 p-5  bg-white text-dark">Hotel Hilton</h3>
    </figure>

    <br><br><br>
        <div class="d-flex justify-content-center p-2">
            <a role="button"  class="btn btn-dark" href="add_item.html"> Add item</a> &nbsp;&nbsp;&nbsp;&nbsp;            
            <a role="button" class="btn btn-dark" href="delete_item.html"> Delete item</a>
        </div>
    <br><br><br>

</div>

{% endblock %}